<template>
  <div class="logo__container">
    <img id="logo" :src="image" :width="width" alt="" crossOrigin="Anonymous" />
  </div>
</template>

<script>
export default {
  props: {
    image: {
      type: String,
      required: true,
    },
    width: {
      type: [Number, String],
      default: 120,
    },
  },
}
</script>

<style lang="scss" scoped src="./styles.scss" />
