<template>
  <div v-if="brand" class="vehicle main-content m-auto">
    <div
      class="vehicle__img"
      :style="`background-image: url(images/brands/${brandSlug}.png);`"
    />
    <div>
      <div
        class="vehicle__brand text-truncate"
        :title="`${brand} ${model}`"
        :style="{ color: color }"
      >
        <span class="vehicle__brand-model">
          {{ brand }}
        </span>
        {{ model }}
      </div>
      <div class="vehicle__model text-truncate" :title="version">
        {{ version }}
      </div>
    </div>
    <v-menu transition="slide-y-transition" bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-btn v-if="showBackButton" icon small class="vehicle__bt">
          <v-icon :dense="true" color="#a5abb7" v-bind="attrs" v-on="on">
            mdi-dots-vertical
          </v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item @click="selectAnotherVehicle">
          <v-list-item-title>Alterar veículo</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import { intent } from '@/store'
import EventBus from '@/utils/eventbus'
import slugify from '@/utils/slugify'

export default {
  props: {
    color: {
      type: String,
      required: true,
    },
    showBackButton: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    ...mapGetters({
      brand: intent.getters.getIntentSaleBrand,
      model: intent.getters.getIntentSaleModel,
      version: intent.getters.getIntentSaleVersion,
    }),
    brandSlug() {
      return slugify(this.brand)
    },
  },
  methods: {
    selectAnotherVehicle() {
      this.$store.commit('catalog/clearCatalogFrom', ['brands'])
      this.$store.commit('intent/clearIntentSale')
      EventBus.$emit('resetFieldsStep1', ['brand'])
      EventBus.$emit('resetFieldsStep2')
      EventBus.$emit('resetFieldsStep3')
      EventBus.$emit('totalCarSteps', 4)
      this.$emit('nextStep', 2)
    },
  },
}
</script>

<style lang="scss" scoped src="./styles.scss" />
