.vehicle {
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 10px !important;
  display: flex !important;
  align-items: center;

  &__img {
    flex: 0 0 80px;
    width: 80px;
    height: 50px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__brand {
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -0.5px;
    margin-bottom: 5px;
    max-width: 140px;
    color: $default-dealer;

    @media (min-width: 360px) {
      max-width: 180px;
    }
  }

  &__brand-model {
    color: $dark-blue;
  }

  &__model {
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.3px;
    color: $steel;
    max-width: 140px;

    @media (min-width: 360px) {
      max-width: 180px;
    }
  }

  &__bt {
    margin: 0 0 0 auto;
  }
}