<template>
  <v-container
    fluid
    class="main-container pt-10 pb-7 px-0"
    :class="{
      'd-flex justify-center align-center': loading,
    }"
  >
    <v-progress-circular
      v-if="loading"
      :indeterminate="true"
      :size="50"
      :width="2"
      :color="loadingColor"
    />
    <v-row v-else no-gutters>
      <v-col cols="12" class="relative main-content m-auto">
        <Logo :image="dealer.logo" :width="'150'" class="d-block" />
        <div
          v-if="step == 6 && dealer.video && Object.keys(result).length"
          class="btn-video absolute"
          data-html2canvas-ignore
        >
          <v-img
            src="images/thumb-video.png"
            srcset="images/thumb-video@2x.png 2x"
            alt=""
            width="140"
            height="80"
            :contain="true"
            @click="toggleOverlay"
          />
        </div>
        <div v-if="step > 1 && step < 6" class="step-container absolute">
          <v-progress-circular
            class="step-progress"
            :value="(step - 1) * (100 / totalCarSteps)"
            :rotate="-90"
            :color="dealer.primary_color"
            size="30"
            width="3"
          />
          <span class="step-value">
            {{ step > 4 && totalCarSteps === 3 ? step - 2 : step - 1 }}/{{
              totalCarSteps
            }}
          </span>
        </div>
      </v-col>
      <v-col cols="12">
        <v-stepper v-model="step" class="elevation-0">
          <v-stepper-items>
            <v-stepper-content
              v-for="(s, index) in steps"
              :key="index"
              :step="index + 1"
              class="pa-0"
            >
              <component
                :is="`step-${index + 1}`"
                :active-step="step"
                :step="index + 1"
                @nextStep="changeStep"
              />
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-col>
      <v-col v-if="step > 2 && step < 6" cols="12">
        <VehicleSelected
          class="main-content m-auto"
          :color="dealer.primary_color"
          @nextStep="changeStep"
        />
      </v-col>
    </v-row>
    <v-overlay
      v-if="dealer.video"
      class="overlay px-5"
      :absolute="true"
      :value="overlay"
      :opacity="0.65"
    >
      <div class="d-flex justify-end">
        <v-btn class="px-0" text @click="overlay = false">
          <v-icon :size="32">
            mdi-window-close
          </v-icon>
        </v-btn>
      </div>
      <div class="mt-2 video--responsive">
        <iframe
          :src="dealer.video"
          width="960"
          height="540"
          frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        />
      </div>
    </v-overlay>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { catalog, dealer, intent } from '@/store'
import EventBus from '@/utils/eventbus'

export default {
  components: {
    Logo: () => import('@/components/base/Logo'),
    Step1: () => import('@/components/pages/personal'),
    Step2: () => import('@/components/pages/step1'),
    Step3: () => import('@/components/pages/step2'),
    Step4: () => import('@/components/pages/step3'),
    Step5: () => import('@/components/pages/step4'),
    Step6: () => import('@/components/pages/result'),
    Step7: () => import('@/components/pages/success'),
    VehicleSelected: () => import('@/components/ui/VehicleSelected'),
  },
  data: () => ({
    loading: true,
    loadingColor: '#d3d5dc',
    overlay: false,
    step: 1,
    steps: [
      // just for info
      'Quer saber quanto vale seu carro?',
      'Comece informando:',
      'Mais alguns detalhes:',
      'Possui algum pacote ou item adicional?',
      'Está vendendo para comprar outro?',
      'Resultado Precificação',
      'Sucesso',
    ],
    totalCarSteps: 4,
  }),
  computed: {
    ...mapGetters({
      dealer: dealer.getters.getDealer,
      optionals: catalog.getters.getOptionalsByModel,
      result: intent.getters.getIntentResult,
      vehicle: intent.getters.getIntentSale,
    }),
  },
  watch: {
    dealer(data) {
      document.querySelector('#background-bar').style.backgroundColor =
        data.primary_color

      this.loadingColor = data.primary_color

      setTimeout(() => {
        this.loading = !Object.keys(dealer).length
      }, 1000)
    },
    step(step) {
      if (step === 5) this.$store.commit('catalog/clearCatalogFrom', ['brands'])
      else if (step === 6)
        this.$store.dispatch('intent/getIntentResult', this.vehicle)
    },
  },
  created() {
    const storeId = this.$route.params.storeId
    this.getDealer(storeId).catch(() => this.$router.replace({ path: '/' }))
  },
  mounted() {
    EventBus.$on('toggleOverlay', this.toggleOverlay)
    EventBus.$on('totalCarSteps', this.changeTotalCarSteps)
  },
  methods: {
    ...mapActions({
      getDealer: dealer.actions.getDealer,
    }),
    changeStep(step) {
      if (step) this.step = step
      else this.step = this.step + 1
    },
    changeTotalCarSteps(value) {
      this.totalCarSteps = value
    },
    toggleOverlay() {
      this.overlay = !this.overlay
    },
  },
}
</script>

<style lang="scss" scoped src="./styles.scss" />
