.main-container {
  background: #fff;
  max-width: 414px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.1);

  @media (min-width: 460px) {
    max-width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
  }
}

.main-content {
  max-width: 280px;

  @media (min-width: 360px) {
    max-width: 320px;
  }
}

.step-container,
.btn-video {
  right: 0;
  top: 0;

  @media (min-width: 460px) {
    margin-top: -20px;
    margin-right: -25px;
  }
}

.btn-video {
  cursor: pointer;
  z-index: 1;
  margin-top: -15px;
  margin-right: -10px;
}

.step-value  {
  font-size: 12px;
  letter-spacing: -0.3px;
  color: $steel;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.overlay {
  position: fixed !important;
}