<template>
  <div class="main-content m-auto">
    <div class="f-34 dark-blue--text font-weight-bold mt-10 mb-7">
      Quer saber quanto vale seu carro?
    </div>
    <v-form ref="form" v-model="valid" @submit.prevent="postForm">
      <v-row>
        <v-col cols="12" class="pt-2 pb-5">
          <v-text-field
            v-model="fullName"
            label="Nome completo *"
            outlined
            :color="dealer.primary_color"
            :rules="[rules.required]"
            hide-details="auto"
          />
        </v-col>

        <v-col cols="12" class="pt-2 pb-5">
          <v-text-field
            v-model="phone"
            v-mask="'(##) #####-####'"
            type="'phone'"
            label="Celular *"
            outlined
            :color="dealer.primary_color"
            :rules="[rules.phone]"
            hide-details="auto"
          />
        </v-col>

        <v-col cols="12" class="pt-2 pb-5">
          <v-text-field
            v-model="email"
            type="email"
            label="E-mail"
            outlined
            :color="dealer.primary_color"
            :rules="[rules.email]"
            hide-details="auto"
          />
        </v-col>

        <v-col cols="12">
          <v-btn
            :loading="loading"
            type="submit"
            x-large
            block
            :color="dealer.primary_color"
            class="elevation-0 white--text"
          >
            Continuar
          </v-btn>
        </v-col>
      </v-row>
      <p v-if="error" class="error--text text-center">
        {{ error }}
      </p>
    </v-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import { api } from '@/services/api'
import { dealer } from '@/store'
import { rules } from '@/utils/validation'

export default {
  data: () => ({
    fullName: '',
    phone: '',
    email: '',
    rules,
    loading: false,
    valid: false,
    error: null,
  }),
  computed: {
    ...mapGetters({
      dealer: dealer.getters.getDealer,
    }),
  },
  methods: {
    async postForm() {
      if (this.valid && !this.loading) {
        this.loading = true

        const name = this.fullName.split(' ')
        const payload = {
          store_id: this.dealer.store_id,
          first_name: name.slice(0, 1).join(' '),
          last_name: name.slice(1).join(' '),
          phone: this.phone,
          email: this.email,
        }

        try {
          const res = await api.post(
            '/public/api/v1/white-label/customers',
            payload
          )
          this.$store.commit('customer/setCustomer', res.data)
          this.sendAnalytics()
          this.$emit('nextStep')
        } catch (error) {
          this.error = 'Ocorreu um erro, tente novamente mais tarde.'
        } finally {
          this.loading = false
        }
      } else {
        this.$refs.form.validate()
      }
    },
    sendAnalytics() {
      if (process.env.NODE_ENV === 'production') {
        this.$gtm.push({
          event: 'gaTriggerEvent',
          gaEventCategory: 'avaliacao',
          gaEventAction: 'etapa-1-dados-pessoais',
          gaEventLabel: this.dealer.name,
        })
      }
    },
  },
}
</script>
