<template>
  <div
    class="main-content m-auto"
    :class="{
      'd-flex justify-center align-center': !Object.keys(result).length,
    }"
  >
    <v-progress-circular
      v-if="!Object.keys(result).length"
      :indeterminate="true"
      :size="50"
      :width="2"
      :color="dealer.primary_color"
      class="my-16"
    />
    <div v-else>
      <div class="f-34 dark-blue--text font-weight-bold mt-10 mb-7">
        <span :style="{ color: dealer.primary_color }">{{ firstName }},</span>
        veja quanto vale o seu carro hoje.
      </div>
      <v-row>
        <v-col cols="12" class="box-vehicle">
          <div class="box-vehicle__header">
            <VehicleSelected
              class="main-content m-auto"
              :color="dealer.primary_color"
              :show-back-button="false"
            />
          </div>
          <div class="box-vehicle__content">
            <v-row no-gutters>
              <v-col cols="6" class="box-vehicle__detail">
                <v-img
                  src="icons/calendar.png"
                  srcset="icons/calendar@2x.png 2x, icons/calendar@3x.png 3x"
                  width="20"
                  height="20"
                  class="mr-2 float-left"
                  contain
                />
                {{ vehicle.year }}
              </v-col>
              <v-col cols="6" class="box-vehicle__detail">
                <v-img
                  src="icons/fuel-pump.png"
                  srcset="icons/fuel-pump@2x.png 2x, icons/fuel-pump@3x.png 3x"
                  width="20"
                  height="20"
                  class="mr-2 float-left"
                  contain
                />
                {{ vehicle.fuel }}
              </v-col>
            </v-row>
            <v-row no-gutters>
              <v-col cols="6" class="box-vehicle__detail">
                <v-img
                  src="icons/transmission.png"
                  srcset="icons/transmission@2x.png 2x, icons/transmission@3x.png 3x"
                  width="20"
                  height="20"
                  class="mr-2 float-left"
                  contain
                />
                {{ vehicle.transmission }}
              </v-col>
              <v-col cols="6" class="box-vehicle__detail">
                <v-img
                  src="icons/mileage.png"
                  srcset="icons/mileage@2x.png 2x, icons/mileage@3x.png 3x"
                  width="20"
                  height="20"
                  class="mr-2 float-left"
                  contain
                />
                {{ vehicle.mileage }} km
              </v-col>
            </v-row>
          </div>
        </v-col>
      </v-row>
      <v-row v-if="result.private">
        <v-col v-if="result.private.display" cols="12" class="box-private">
          <span class="box-private__title">{{ result.private.title }}</span>
          <span v-if="result.private.subtitle" class="box-private__subtitle">{{
            result.private.subtitle
          }}</span>
          <div class="box-private__content">
            <span
              v-if="result.private.show_percentage"
              class="box-private__percentage"
            >
              -{{ result.private.percentage }}%
            </span>
            <v-row no-gutters>
              <v-col cols="6" class="box-private__min">
                <span class="box-private__label">Valor mínimo</span>
                <span class="box-private__val">
                  R$ {{ result.private.min | currency }}
                </span>
                <v-icon
                  class="box-private__icon"
                  :dense="true"
                  color="#a5abb7"
                  data-html2canvas-ignore
                >
                  mdi-arrow-down-circle-outline
                </v-icon>
              </v-col>
              <v-col cols="6" class="box-private__max">
                <span class="box-private__label">Valor máximo</span>
                <span class="box-private__val">
                  R$ {{ result.private.max | currency }}
                </span>
                <v-icon
                  class="box-private__icon"
                  :dense="true"
                  color="#a5abb7"
                  data-html2canvas-ignore
                >
                  mdi-arrow-up-circle-outline
                </v-icon>
              </v-col>
            </v-row>
            <div class="box-private__med">
              <span class="box-private__label-med">Valor de anúncio</span>
              <span class="box-private__val-med">
                R$ {{ result.private.value | currency }}
              </span>
            </div>
          </div>
        </v-col>
        <v-col
          v-if="result.instant_offer.display"
          cols="12"
          class="box-instantoffer"
        >
          <span class="box-instantoffer__title">
            {{ result.instant_offer.title }}
          </span>
          <div class="box-instantoffer__content">
            <span
              v-if="result.instant_offer.show_percentage"
              class="box-instantoffer__percentage"
            >
              -{{ result.instant_offer.percentage }}%
            </span>
            <div class="box-instantoffer__med">
              <span class="box-instantoffer__label-med">Receba em 24h*</span>
              <span class="box-instantoffer__val-med">
                R$ {{ result.instant_offer.value | currency }}
              </span>
            </div>
          </div>
        </v-col>
        <v-col v-if="result.dealers.display" cols="12" class="box-dealers">
          <span class="box-dealers__title">{{ result.dealers.title }}</span>
          <div class="box-dealers__content">
            <span
              v-if="result.dealers.show_percentage"
              class="box-dealers__percentage"
            >
              -{{ result.dealers.percentage }}%
            </span>
            <v-row no-gutters>
              <v-col cols="6" class="box-dealers__min">
                <span class="box-dealers__label">Valor mínimo</span>
                <span class="box-dealers__val">
                  R$ {{ result.dealers.min | currency }}
                </span>
                <v-icon
                  class="box-dealers__icon"
                  :dense="true"
                  color="#a5abb7"
                  data-html2canvas-ignore
                >
                  mdi-arrow-down-circle-outline
                </v-icon>
              </v-col>
              <v-col cols="6" class="box-dealers__max">
                <span class="box-dealers__label">Valor máximo</span>
                <span class="box-dealers__val">
                  R$ {{ result.dealers.max | currency }}
                </span>
                <v-icon
                  class="box-dealers__icon"
                  :dense="true"
                  color="#a5abb7"
                  data-html2canvas-ignore
                >
                  mdi-arrow-up-circle-outline
                </v-icon>
              </v-col>
            </v-row>
            <div class="box-dealers__med">
              <span class="box-dealers__label-med">Valor de anúncio</span>
              <span class="box-dealers__val-med">
                R$ {{ result.dealers.value | currency }}
              </span>
            </div>
          </div>
        </v-col>
        <v-col v-if="result.legal_text" class="result__caption">
          <span>
            {{ result.legal_text }}
          </span>
        </v-col>
        <v-col cols="12">
          <v-btn
            :loading="loading"
            x-large
            block
            :color="dealer.primary_color"
            class="elevation-0 white--text"
            @click="sellVehicle"
          >
            Vender meu carro
          </v-btn>
        </v-col>
        <v-col cols="12" class="text-center pa-2" data-html2canvas-ignore>
          <v-btn
            text
            :loading="loadingCanvas"
            :color="dealer.primary_color"
            class="elevation-0"
            @click="saveInfo"
          >
            <v-icon left class="mr-3">mdi-cloud-download</v-icon>
            Salvar informações
          </v-btn>
        </v-col>
      </v-row>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import html2canvas from 'html2canvas'
import { saveAs } from 'file-saver'
import { customer, dealer, intent } from '@/store'
import EventBus from '@/utils/eventbus'

export default {
  components: {
    VehicleSelected: () => import('@/components/ui/VehicleSelected'),
  },
  filters: {
    currency(value) {
      return value.toFixed(0).replace(/(\d)(?=(\d{3})+\b)/g, '$1.')
    },
  },
  data: () => ({
    loading: false,
    loadingCanvas: false,
  }),
  computed: {
    ...mapGetters({
      firstName: customer.getters.getCustomerFirstName,
      dealer: dealer.getters.getDealer,
      result: intent.getters.getIntentResult,
      vehicle: intent.getters.getIntentSale,
    }),
  },
  methods: {
    saveInfo() {
      this.loadingCanvas = true
      html2canvas(document.body, {
        scrollY: 0,
        backgroundColor: '#f6f6f6',
        useCORS: true,
        allowTaint: true,
      })
        .then((canvas) => {
          saveAs(canvas.toDataURL(), 'Orçamento - Avalie seu carro.png')
          this.loadingCanvas = false
        })
        .catch((err) => {
          this.loadingCanvas = false
          console.error(err)
        })
    },
    sellVehicle() {
      this.sendAnalytics('vender')
      this.$emit('nextStep')
    },
    sendAnalytics(action) {
      if (process.env.NODE_ENV === 'production') {
        this.$gtm.push({
          event: 'gaTriggerEvent',
          gaEventCategory: 'avaliacao',
          gaEventAction: 'etapa-5-sucesso',
          gaEventLabel: this.dealer.name,
        })
        this.$gtm.push({
          event: 'gaTriggerEvent',
          gaEventCategory: 'clique',
          gaEventAction: action,
          gaEventLabel: this.dealer.name,
        })
      }
    },
    toggleOverlay() {
      EventBus.$emit('toggleOverlay')
    },
  },
}
</script>

<style lang="scss" scoped src="./styles.scss" />
