<template>
  <div class="main-content m-auto">
    <div class="f-34 dark-blue--text font-weight-bold mt-10 mb-7">
      Possui algum pacote ou item adicional?
    </div>
    <v-form ref="form" v-model="valid" @submit.prevent="postForm">
      <v-row>
        <v-col cols="12">
          <v-checkbox
            v-for="(pack, index) in optionals"
            :key="index"
            v-model="optionsChecked[index]"
            :label="pack.name"
            :color="dealer.primary_color"
            :value="pack"
            class="my-1"
            hide-details="auto"
            @change="filterCheckboxes"
          />
        </v-col>

        <v-col cols="12" class="text-center pa-2">
          <v-btn
            text
            :color="dealer.primary_color"
            class="elevation-0"
            @click="$emit('nextStep')"
          >
            Pular esta etapa
          </v-btn>
        </v-col>

        <v-col cols="12">
          <v-btn
            :loading="loading"
            type="submit"
            x-large
            block
            :color="dealer.primary_color"
            class="elevation-0 white--text"
          >
            Continuar
          </v-btn>
        </v-col>
      </v-row>
      <p v-if="error" class="error--text text-center">
        {{ error }}
      </p>
    </v-form>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import { api } from '@/services/api'
import { catalog, dealer, intent } from '@/store'
import EventBus from '@/utils/eventbus'
import { rules } from '@/utils/validation'

export default {
  data: () => ({
    optionsChecked: [],
    optionalsFiltered: [],
    rules,
    loading: false,
    valid: false,
    error: null,
  }),
  computed: {
    ...mapGetters({
      dealer: dealer.getters.getDealer,
      optionals: catalog.getters.getOptionalsByModel,
      intent: intent.getters.getIntentSale,
    }),
  },
  mounted() {
    EventBus.$on('resetFieldsStep3', this.resetFields)
  },
  methods: {
    filterCheckboxes() {
      this.optionalsFiltered = this.optionsChecked
        .filter((item) => item)
        .map(({ name, price }) => ({
          name,
          price,
        }))
    },
    async postForm() {
      if (this.valid && !this.loading) {
        this.loading = true

        const payload = this.intent
        if (this.optionalsFiltered.length)
          payload.optionals = this.optionalsFiltered

        try {
          await api.put(
            `/public/api/v1/white-label/intentions/sales/${payload.intention_sale_id}`,
            payload
          )
          this.$store.commit('intent/setIntentSale', payload)
          this.sendAnalytics()
          this.$emit('nextStep')
        } catch (error) {
          this.error = 'Ocorreu um erro, tente novamente mais tarde.'
        } finally {
          this.loading = false
        }
      } else {
        this.$refs.form.validate()
      }
    },
    resetFields() {
      this.optionsChecked = []
    },
    sendAnalytics() {
      if (process.env.NODE_ENV === 'production') {
        this.$gtm.push({
          event: 'gaTriggerEvent',
          gaEventCategory: 'avaliacao',
          gaEventAction: 'etapa-4-intencao',
          gaEventLabel: this.dealer.name,
        })
      }
    },
  },
}
</script>
