<template>
  <div class="main-content m-auto">
    <div class="f-34 dark-blue--text font-weight-bold mt-10 mb-7">
      Mais alguns detalhes:
    </div>
    <v-form ref="form" v-model="valid" @submit.prevent="postForm">
      <v-row>
        <v-col cols="12">
          <v-autocomplete
            v-model="fuel"
            :items="fuels"
            item-text="name"
            item-value="fuel"
            label="Combustível *"
            hide-details="auto"
            no-data-text="Nenhum item para selecionar"
            :color="dealer.primary_color"
            :rules="[rules.required]"
            outlined
            return-object
          />
        </v-col>

        <v-col cols="12">
          <v-autocomplete
            v-model="transmission"
            :items="transmissions"
            item-text="name"
            item-value="gear"
            label="Câmbio *"
            hide-details="auto"
            no-data-text="Nenhum item para selecionar"
            :color="dealer.primary_color"
            :rules="[rules.required]"
            outlined
            return-object
          />
        </v-col>

        <v-col cols="12">
          <v-text-field
            v-model="mileage"
            v-mask="[
              '####',
              '#.###',
              '##.###',
              '###.###',
              '####.###',
              '#.###.###',
              '##.###.###',
              '###.###.###',
            ]"
            label="Quilometragem *"
            hide-details="auto"
            inputmode="numeric"
            pattern="[0-9]*"
            suffix="km"
            :color="dealer.primary_color"
            :rules="[rules.required]"
            outlined
          />
        </v-col>

        <v-col cols="12">
          <v-btn
            :loading="loading"
            type="submit"
            x-large
            block
            :color="dealer.primary_color"
            class="elevation-0 white--text"
          >
            Continuar
          </v-btn>
        </v-col>
      </v-row>
      <p v-if="error" class="error--text text-center">
        {{ error }}
      </p>
    </v-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import { api } from '@/services/api'
import { catalog, dealer, intent } from '@/store'
import EventBus from '@/utils/eventbus'
import { rules } from '@/utils/validation'

export default {
  data: () => ({
    fieldsSequence: ['fuel', 'transmission', 'mileage'],
    fuel: '',
    mileage: '',
    nextStep: null,
    transmission: '',
    rules,
    loading: false,
    valid: false,
    error: null,
  }),
  computed: {
    ...mapGetters({
      dealer: dealer.getters.getDealer,
      fuels: catalog.getters.getFuels,
      intent: intent.getters.getIntentSale,
      transmissions: catalog.getters.getTransmissions,
    }),
  },
  mounted() {
    this.getFuels()
    this.getTransmissions()
    EventBus.$on('totalCarSteps', this.changeNextStep)
    EventBus.$on('resetFieldsStep2', this.resetFields)
  },
  methods: {
    ...mapActions({
      getFuels: catalog.actions.getFuels,
      getTransmissions: catalog.actions.getTransmissions,
    }),
    changeNextStep(value) {
      if (value === 3) {
        this.nextStep = 5
      } else {
        this.nextStep = 4
      }
    },
    async postForm() {
      if (this.valid && !this.loading) {
        this.loading = true

        const payload = this.intent
        payload.fuel = this.fuel.name
        payload.transmission = this.transmission.name
        payload.mileage = parseInt(this.mileage.split('.').join(''))

        try {
          await api.put(
            `/public/api/v1/white-label/intentions/sales/${payload.intention_sale_id}`,
            payload
          )
          this.$store.commit('intent/setIntentSale', payload)
          this.sendAnalytics()
          this.$emit('nextStep', this.nextStep)
        } catch (error) {
          this.error = 'Ocorreu um erro, tente novamente mais tarde.'
        } finally {
          this.loading = false
        }
      } else {
        this.$refs.form.validate()
      }
    },
    resetFields(index) {
      const fields = []
      fields.push.apply(fields, this.fieldsSequence)
      const clearFields = fields.splice(index + 1)
      clearFields.forEach((item) => (this[item] = ''))
    },
    sendAnalytics() {
      if (process.env.NODE_ENV === 'production') {
        this.$gtm.push({
          event: 'gaTriggerEvent',
          gaEventCategory: 'avaliacao',
          gaEventAction: 'etapa-3-dados-veiculo-complemento',
          gaEventLabel: this.dealer.name,
        })
      }
    },
  },
}
</script>
