<template>
  <div class="main-content m-auto">
    <div class="f-34 dark-blue--text font-weight-bold mt-10 mb-7">
      Comece informando:
    </div>
    <v-form ref="form" v-model="valid" @submit.prevent="postForm">
      <v-row>
        <v-col cols="12">
          <v-autocomplete
            v-model="brand"
            :items="brands"
            item-text="name"
            item-value="id"
            label="Marca *"
            hide-details="auto"
            no-data-text="Nenhum item para selecionar"
            :color="dealer.primary_color"
            :rules="[rules.required]"
            outlined
            return-object
            @change="getModels"
          />
        </v-col>

        <v-col cols="12">
          <v-autocomplete
            v-model="model"
            :items="modelsByBrand"
            item-text="name"
            item-value="id"
            label="Modelo *"
            hide-details="auto"
            no-data-text="Nenhum item para selecionar"
            :color="dealer.primary_color"
            :rules="[rules.required]"
            :disabled="!modelsByBrand.length"
            outlined
            return-object
            @change="getBodiesYears"
          />
        </v-col>

        <v-col cols="6">
          <v-autocomplete
            v-model="marketCategory"
            :items="bodiesByModel"
            item-text="name"
            item-value="id"
            label="Carroceria *"
            hide-details="auto"
            no-data-text="Nenhum item"
            :color="dealer.primary_color"
            :rules="[rules.required]"
            :disabled="!bodiesByModel.length"
            outlined
            return-object
          />
        </v-col>

        <v-col cols="6">
          <v-autocomplete
            v-model="year"
            :items="yearsByModel"
            label="Ano *"
            hide-details="auto"
            no-data-text="Nenhum item"
            :color="dealer.primary_color"
            :rules="[rules.required]"
            :disabled="!yearsByModel.length"
            outlined
            @change="getVersions"
          />
        </v-col>

        <v-col cols="12">
          <v-autocomplete
            v-model="version"
            :items="versionsByModel"
            item-text="name"
            item-value="id"
            label="Versão *"
            hide-details="auto"
            no-data-text="Nenhum item para selecionar"
            :color="dealer.primary_color"
            :rules="[rules.required]"
            :disabled="!versionsByModel.length"
            outlined
            return-object
          />
        </v-col>

        <v-col cols="12">
          <v-btn
            :loading="loading"
            type="submit"
            x-large
            block
            :color="dealer.primary_color"
            class="elevation-0 white--text"
          >
            Continuar
          </v-btn>
        </v-col>
      </v-row>
      <p v-if="error" class="error--text text-center">
        {{ error }}
      </p>
    </v-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import { api } from '@/services/api'
import { catalog, customer, dealer } from '@/store'
import EventBus from '@/utils/eventbus'
import { rules } from '@/utils/validation'

export default {
  props: {
    activeStep: {
      required: true,
      type: Number,
    },
    step: {
      required: true,
      type: Number,
    },
  },
  data: () => ({
    brand: '',
    arraySequence: [
      'brands',
      'modelsByBrand',
      'bodiesByModel',
      'yearsByModel',
      'versionsByModel',
    ],
    fieldsSequence: ['brand', 'model', 'marketCategory', 'year', 'version'],
    marketCategory: '',
    model: '',
    version: '',
    year: '',
    rules,
    loading: false,
    valid: false,
    error: null,
  }),
  computed: {
    ...mapGetters({
      bodiesByModel: catalog.getters.getBodiesByModel,
      brands: catalog.getters.getBrands,
      customerId: customer.getters.getCustomerId,
      dealer: dealer.getters.getDealer,
      modelsByBrand: catalog.getters.getModelsByBrand,
      versionsByModel: catalog.getters.getVersionsByModel,
      yearsByModel: catalog.getters.getYearsByModel,
    }),
  },
  watch: {
    bodiesByModel(array) {
      if (this.step !== this.activeStep) return
      if (array.length === 1) {
        this.marketCategory = array[0]
      }
    },
    modelsByBrand(array) {
      if (this.step !== this.activeStep) return
      if (array.length === 1) {
        this.model = array[0]
        this.getBodiesYears()
      }
    },
    versionsByModel(array) {
      if (this.step !== this.activeStep) return
      if (array.length === 1) {
        this.version = array[0]
      }
    },
    yearsByModel(array) {
      if (this.step !== this.activeStep) return
      if (array.length === 1) {
        this.year = array[0]
        this.getVersions()
      }
    },
  },
  mounted() {
    this.getBrands()
    EventBus.$on('resetFieldsStep1', this.resetFields)
  },
  methods: {
    ...mapActions({
      getBodiesByModel: catalog.actions.getBodiesByModel,
      getBrands: catalog.actions.getBrands,
      getModelsByBrand: catalog.actions.getModelsByBrand,
      getOptionalsByModel: catalog.actions.getOptionalsByModel,
      getVersionsByModel: catalog.actions.getVersionsByModel,
      getYearsByModel: catalog.actions.getYearsByModel,
    }),
    getModels() {
      if (this.step !== this.activeStep) return
      this.resetArrays('brands')
      this.getModelsByBrand(this.brand.id)
    },
    getBodiesYears() {
      if (this.step !== this.activeStep) return
      const payload = {
        brandId: this.brand.id,
        modelId: this.model.id,
      }
      this.resetArrays('modelsByBrand')
      this.getBodiesByModel(payload)
      this.getYearsByModel(payload)
    },
    getVersions() {
      if (this.step !== this.activeStep) return
      if (!this.year) return
      const payload = {
        brandId: this.brand.id,
        modelId: this.model.id,
        year: this.year,
      }
      this.getVersionsByModel(payload)
    },
    async postForm() {
      if (this.valid && !this.loading) {
        this.loading = true

        const payload = {
          customer_id: this.customerId,
          brand: this.brand.name,
          model: this.model.name,
          version: this.version.name,
          market_category: this.marketCategory,
          year: this.year,
          vehicle_id: this.version.vehicleId,
        }

        try {
          const res = await api.post(
            '/public/api/v1/white-label/intentions/sales',
            payload
          )
          payload.intention_sale_id = res.data.id
          this.$store.commit('intent/setIntentSale', payload)
          this.sendAnalytics()
          this.getOptionalsByModel(this.version.vehicleId)
          this.$emit('nextStep')
        } catch (error) {
          this.error = 'Ocorreu um erro, tente novamente mais tarde.'
        } finally {
          this.loading = false
        }
      } else {
        this.$refs.form.validate()
      }
    },
    resetArrays(arrayField) {
      const fields = []
      fields.push.apply(fields, this.arraySequence)
      const fieldIndex = fields.indexOf(arrayField)
      const clearArray = fields.splice(0, fieldIndex + 2)
      this.$store.commit('catalog/clearCatalogFrom', clearArray)
      this.resetFields(fieldIndex)
    },
    resetFields(index) {
      const fields = []
      fields.push.apply(fields, this.fieldsSequence)
      const clearFields = fields.splice(index + 1)
      clearFields.forEach((item) => (this[item] = ''))
    },
    sendAnalytics() {
      if (process.env.NODE_ENV === 'production') {
        this.$gtm.push({
          event: 'gaTriggerEvent',
          gaEventCategory: 'avaliacao',
          gaEventAction: 'etapa-2-dados-veiculo',
          gaEventLabel: this.dealer.name,
        })
      }
    },
  },
}
</script>
