<template>
  <div class="main-content m-auto">
    <div class="f-34 dark-blue--text font-weight-bold mt-10 mb-7">
      Está vendendo para comprar outro?
    </div>
    <v-form ref="form" v-model="valid" @submit.prevent="postForm">
      <v-row>
        <v-col cols="12" class="py-0">
          <v-radio-group
            v-model="newVehicle"
            row
            class="mt-2 py-0"
            :rules="[rules.required]"
            @change="selectYear"
          >
            <v-radio
              label="0 km"
              value="true"
              :color="dealer.primary_color"
              class="mr-6"
            />
            <v-radio
              label="Seminovo"
              value="false"
              :color="dealer.primary_color"
            />
          </v-radio-group>
        </v-col>

        <v-col cols="12">
          <v-autocomplete
            v-model="brand"
            :items="brands"
            item-text="name"
            item-value="id"
            label="Marca *"
            hide-details="auto"
            :color="dealer.primary_color"
            :rules="[rules.required]"
            outlined
            return-object
            @change="getModels"
          />
        </v-col>

        <v-col cols="6">
          <v-autocomplete
            v-model="model"
            :items="modelsByBrand"
            item-text="name"
            item-value="id"
            label="Modelo *"
            hide-details="auto"
            :color="dealer.primary_color"
            :rules="[rules.required]"
            :disabled="!modelsByBrand.length"
            outlined
            return-object
            @change="getYears"
          />
        </v-col>

        <v-col cols="6">
          <v-autocomplete
            v-model="year"
            :items="yearsByModel"
            label="Ano *"
            hide-details="auto"
            :color="dealer.primary_color"
            :rules="[rules.required]"
            :disabled="!yearsByModel.length || newVehicle === 'true'"
            outlined
          />
        </v-col>

        <v-col cols="12">
          <v-textarea
            v-model="comments"
            placeholder="Digite aqui..."
            label="Observações"
            outlined
            hide-details="auto"
            :counter="140"
            :auto-grow="true"
            :color="dealer.primary_color"
          />
        </v-col>

        <v-col cols="12" class="text-center pa-2 pt-0">
          <v-btn
            text
            :color="dealer.primary_color"
            class="elevation-0"
            @click="$emit('nextStep')"
          >
            Pular esta etapa
          </v-btn>
        </v-col>

        <v-col cols="12">
          <v-btn
            :loading="loading"
            type="submit"
            x-large
            block
            :color="dealer.primary_color"
            class="elevation-0 white--text"
          >
            Finalizar
          </v-btn>
        </v-col>
      </v-row>
      <p v-if="error" class="error--text text-center">
        {{ error }}
      </p>
    </v-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import { api } from '@/services/api'
import { catalog, customer, dealer } from '@/store'
import { rules } from '@/utils/validation'

export default {
  props: {
    activeStep: {
      required: true,
      type: Number,
    },
    step: {
      required: true,
      type: Number,
    },
  },
  data: () => ({
    actualYear: '2020',
    arraySequence: ['brands', 'modelsByBrand', 'yearsByModel'],
    brand: '',
    comments: '',
    fieldsSequence: ['brand', 'model', 'year'],
    model: '',
    newVehicle: '',
    year: '',
    rules,
    loading: false,
    valid: false,
    error: null,
  }),
  computed: {
    ...mapGetters({
      brands: catalog.getters.getBrands,
      customerId: customer.getters.getCustomerId,
      dealer: dealer.getters.getDealer,
      modelsByBrand: catalog.getters.getModelsByBrand,
      yearsByModel: catalog.getters.getYearsByModel,
    }),
  },
  watch: {
    modelsByBrand(array) {
      if (this.step !== this.activeStep) return
      if (array.length === 1) {
        this.model = array[0]
        this.getYears()
      }
    },
    yearsByModel(array) {
      if (this.step !== this.activeStep) return
      if (array.length === 1 && this.newVehicle !== 'true') this.year = array[0]
    },
  },
  methods: {
    ...mapActions({
      getModelsByBrand: catalog.actions.getModelsByBrand,
      getYearsByModel: catalog.actions.getYearsByModel,
    }),
    getModels() {
      if (this.step !== this.activeStep) return
      this.resetArrays('brands')
      this.getModelsByBrand(this.brand.id)
    },
    getYears() {
      if (this.step !== this.activeStep) return
      const payload = {
        brandId: this.brand.id,
        modelId: this.model.id,
      }
      this.resetArrays('modelsByBrand')
      if (this.newVehicle !== 'true') {
        this.getYearsByModel(payload)
      }
    },
    async postForm() {
      if (this.valid && !this.loading) {
        this.loading = true

        const payload = {
          customer_id: this.customerId,
          brand: this.brand.name,
          model: this.model.name,
          new: this.newVehicle === 'true',
          year: this.year,
          comments: this.comments,
        }

        try {
          await api.post('/public/api/v1/white-label/intentions/buys', payload)
          this.$emit('nextStep')
        } catch (error) {
          this.error = 'Ocorreu um erro, tente novamente mais tarde.'
        } finally {
          this.loading = false
        }
      } else {
        this.$refs.form.validate()
      }
    },
    resetArrays(arrayField) {
      const fields = []
      fields.push.apply(fields, this.arraySequence)
      const fieldIndex = fields.indexOf(arrayField)
      let clearArray = fields
      if (this.newVehicle !== 'true') {
        clearArray = fields.splice(0, fieldIndex + 2)
        this.resetFields(fieldIndex)
      }
      this.$store.commit('catalog/clearCatalogFrom', clearArray)
    },
    resetFields(index) {
      const fields = []
      fields.push.apply(fields, this.fieldsSequence)
      const clearFields = fields.splice(index + 1)
      clearFields.forEach((item) => (this[item] = ''))
    },
    selectYear() {
      if (this.newVehicle === 'true') {
        this.$store.commit(catalog.mutations.setYearsByModel, [this.actualYear])
        this.year = this.actualYear
      } else if (
        this.brand &&
        this.modelsByBrand.length &&
        this.year === this.actualYear
      ) {
        this.getYears()
      }
    },
  },
}
</script>
