.box-vehicle {
  &__header {
    border: 1px solid #d3d5dc;
    border-radius: 10px 10px 0 0;
    background-color: #f6f6f6;
  }

  &__content {
    border: 1px solid #d3d5dc;
    border-top: 0 none;
    border-radius: 0 0 10px 10px;
    padding: 10px;
  }

  &__detail {
    font-size: 14px;
    letter-spacing: -0.5px;
    color: $steel;
    padding: 4px 10px;

    .v-icon {
      margin-right: 6px;
    }
  }
}

@mixin box-result($color) {
  margin-bottom: 6px;

  &__title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.5px;
    color: $color;
    display: block;
    padding-right: 55px;
    margin-bottom: 10px;
    line-height: 1;
  }

  &__subtitle {
    font-size: 14px;
    letter-spacing: -0.5px;
    color: $steel;
    display: block;
    padding-right: 55px;
    margin-bottom: 5px;
    margin-top: -5px;
  }

  &__content {
    position: relative;
  }

  &__percentage {
    width: 45px;
    height: 30px;
    background-color: $color;
    position: absolute;
    top: -30px;
    right: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
  }

  &__min {
    border-top: 1px solid $color;
    border-left: 1px solid $color;
    padding: 12px;
    position: relative;
  }

  &__max {
    border-top: 1px solid $color;
    border-left: 1px solid $color;
    border-right: 1px solid $color;
    padding: 12px;
    position: relative;
  }

  &__med {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    border: 1px solid $color;
  }

  &__label {
    font-size: 12px;
    line-height: 1;
    letter-spacing: -0.3px;
    color: $steel;
    display: block;
    margin-bottom: 3px;
  }

  &__val {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.5px;
    color: $color;
  }

  &__icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__label-med {
    font-size: 14px;
    line-height: 1;
    letter-spacing: -0.5px;
    color: $color;
    width: 52px;
    display: inline-block;
    margin-right: 22px;
  }

  &__val-med {
    font-size: 34px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: -2px !important;
    color: $color;
  }
}

.box-private {
  @include box-result($bright-blue);

  &__min, &__max {
    background-color: #f3f7ff;
  }
}

.box-instantoffer {
  @include box-result($dark-blue);

  &__med {
    border-radius: 10px 0 10px 10px;
    background-color: #f6f6f6;
  }
}

.box-dealers {
  @include box-result($bright-red);

  &__min, &__max {
    background-color: #f6f6f6;
  }
}

.box-private,
.box-dealers {
  &__min {
    border-radius: 10px 0 0 0;
  }

  &__med {
    border-radius: 0 0 10px 10px;
  }
}

.result__caption {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.3px;
  color: $light-grey;
}