<template>
  <div class="main-content m-auto">
    <div
      class="f-34 default-dealer--text font-weight-bold mt-10 mb-4"
      :style="{ color: dealer.primary_color }"
    >
      Obrigado!
    </div>
    <p class="mb-0">
      Em breve nossa equipe comercial entrará em contato. Se preferir utilize os
      canais abaixo:
    </p>
    <v-row>
      <v-col cols="12">
        <v-btn
          color="steel"
          :href="dealer.whatsapp"
          target="_blank"
          text
          class="ml-n3"
        >
          <v-icon color="#48BD40" left>mdi-whatsapp</v-icon>
          WhatsApp
        </v-btn>
        <v-btn color="steel" :href="`tel:${dealer.phone}`" target="_blank" text>
          <v-img
            src="icons/mobile-phone.svg"
            width="24"
            height="24"
            class="mr-1"
            contain
          />
          {{ formatPhoneNumber(dealer.phone) }}
        </v-btn>
      </v-col>
      <v-col cols="12">
        <v-btn
          x-large
          block
          outlined
          :color="dealer.primary_color"
          class="elevation-0 mt-1"
          :href="dealer.site"
          target="_blank"
        >
          Ir para o site
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import dealer from '@/store/dealer'

export default {
  data: () => ({
    loading: false,
  }),
  computed: {
    ...mapGetters({
      dealer: dealer.getters.getDealer,
    }),
  },
  methods: {
    formatPhoneNumber(phone) {
      const phoneLength = phone.length
      return `(${phone.slice(3, 5)}) ${phone.slice(
        5,
        phoneLength === 14 ? 10 : 9
      )}-${phone.slice(-4)}`
    },
  },
}
</script>
