/* Variables */

$bright-blue: #0065ff;
$light-grey: #a5abb7;
$dark-blue: #1e2c4c;
$slate: #4b5670;
$steel: #768095;
$grey-EEE: #eee;
$default-dealer: #d3d5dc;
$bright-red: #fc4a40;

/* Colors */

.primary--text {
  color: $bright-blue;
}

.light-grey--text {
  color: $light-grey;
}

.dark-blue--text {
  color: $dark-blue !important;
}

.steel--text {
  color: $steel;
}

.grey-EEE--text {
  color: $grey-EEE;
}

.default-dealer--text {
  color: $default-dealer;
}

/* Backgrounds */

.bright-blue {
  background-color: $bright-blue;
}

.dark-blue {
  background-color: $dark-blue;
}

.steel {
  background-color: $steel;
}

.grey-EEE {
  background-color: $grey-EEE;
}

.default-dealer {
  background-color: $default-dealer;
}
