/* Fonts */
@font-face {
  font-family: 'Circular Std';
  src: local('~@/assets/fonts/Circular Std Book'),
    local('~@/assets/fonts/Circular-Std-Book'),
    url('~@/assets/fonts/CircularStd-Book.woff2') format('woff2'),
    url('~@/assets/fonts/CircularStd-Book.woff') format('woff'),
    url('~@/assets/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: local('~@/assets/fonts/Circular Std Medium'),
    local('~@/assets/fonts/Circular-Std-Medium'),
    url('~@/assets/fonts/CircularStd-Medium.woff2') format('woff2'),
    url('~@/assets/fonts/CircularStd-Medium.woff') format('woff'),
    url('~@/assets/fonts/CircularStd-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: local('~@/assets/fonts/Circular Std Bold'),
    local('~@/assets/fonts/Circular-Std-Bold'),
    url('~@/assets/fonts/CircularStd-Bold.woff2') format('woff2'),
    url('~@/assets/fonts/CircularStd-Bold.woff') format('woff'),
    url('~@/assets/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: local('~@/assets/fonts/Circular Std Black'),
    local('~@/assets/fonts/Circular-Std-Black'),
    url('~@/assets/fonts/CircularStd-Black.woff2') format('woff2'),
    url('~@/assets/fonts/CircularStd-Black.woff') format('woff'),
    url('~@/assets/fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Font sizes */

.f-58 {
  font-size: 58px;
  line-height: 62px;
}

.f-50 {
  font-size: 50px;
}

.f-40 {
  font-size: 40px;
  line-height: 44px;
}

.f-38 {
  font-size: 38px;
  line-height: 42px;
  letter-spacing: -1.5px !important;
}

.f-34 {
  font-size: 34px;
  line-height: 38px;
  letter-spacing: -1.88px !important;
}

.f-28 {
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1.5px !important;
}

.f-24 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.29px !important;
}

.f-22 {
  font-size: 22px;
  line-height: 22px;
  line-height: -1.1px !important;
}

.f-20 {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -1px !important;
}

.f-18 {
  font-size: 18px !important;
}

.f-16 {
  font-size: 16px;
}

.f-14 {
  font-size: 14px;
  letter-spacing: -0.3px;
}

.f-12 {
  font-size: 12px;
}

.f-10 {
  font-size: 10px;
}
