* {
  text-transform: none !important;
  letter-spacing: -0.03rem !important;
}

p,
li,
small {
  color: $steel;
}

ul {
  list-style: none;
  padding: 0 !important;
}

a {
  text-decoration: none;
}
