.pre-line {
  white-space: pre-line;

  @media (max-width: 600px) {
    white-space: normal;
  }
}

.rounded {
  border-radius: 4px !important;
}

.no-wrap {
  white-space: nowrap;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.w-100 {
  width: 100%;
}

.m-auto {
  margin: 0 auto;
}

.h-100 {
  height: 100%;
}

.line {
  border-bottom: 1px solid $grey-EEE;
}

.hide-overflow-y {
  overflow-y: hidden;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.container {
  min-height: 580px;
}

.video--responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  display: block;

  iframe {
    position: absolute;
    display: block;
    border: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}