/* Saas Variables */
$border-radius-root: 10px;
$font-size-root: 16px;
$body-font-family: 'Circular Std', sans-serif;
$btn-font-weight: 500;
$btn-letter-spacing: -0.03rem;

/* Class Overrides */
.v-application {
  &.theme--light {
    background-color: #f6f6f6;
  }
}

.v-input {
  &.theme--light {
    color: $steel;
  }
}

.v-overlay__content {
  width: 100%;
  max-width: 960px;
}

.v-btn,
.v-input .v-input__slot {
  border-radius: 5px;
}